{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Make it public</title>
        <link rel="stylesheet" href="{% static 'sync_youtube/base.css' %}">
    </head>
    <body>
        {% block content %}{% endblock content %}
        <script src="{% static 'sync_youtube/base.js' %}"></script>
    </body>
    <footer>
        <a href="{% url 'index' %}">Homepage</a>
        <a href="{% url 'policies' %}">Privacy Policy</a>
        <a href="{% url 'terms_of_service' %}">Terms of Service</a>
    </footer>

</html>
