{% extends "sync_youtube/base.html" %}
{% load socialaccount %}

{% block content %}
        <div class="account-info">
                <h1>MAKE IT PUBLIC</h1>
        {% if not request.user.is_authenticated %}
            <h2>
                <form method="get" action="accounts/google/login/?process=login">
                    {% csrf_token %}
                    <button type="submit" class="google-btn">
                        <img class="google-logo" src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" alt="Google Logo">
                        Se connecter avec Google
                    </button>
                </form>
            </h2>
        {% else %}
            <p>Compte connecté: {{ request.user.email }}</p>
            {% for playlist_id in user_playlist_ids %}
                <a href="https://www.youtube.com/playlist?list={{ playlist_id }}">Partager le lien de ma playlist</a>
            {% endfor %}
            <div class="buttons">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="google-btn">
                        <img class="google-logo" src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" alt="Google Logo">
                        Se déconnecter
                    </button>
                </form>
                <form method="post" action="{% url 'fetch-songs' %}">
                    {% csrf_token %}
                    <button type="submit" class="google-btn">Récupérer mes musiques</button>
                </form>
                <form method="post" action="{% url 'publish-songs' %}">
                    {% csrf_token %}
                    <button type="submit" class="google-btn">Publier mes musiques</button>
                </form>
            </div>

        {% endif %}
        </div>
        <div class="main-container">
            <div class="centered-container">
                <div class="liked-songs">
                    {% for song in liked_songs %}
                        <div
                            class="liked-song"
                            onclick="window.open('https://www.youtube.com/watch?v={{song.third_party_id}}', '_blank');"
                        >
                        <img class="background" src="{{song.image_url}}"/>
                        <p class="filler {%if song.is_synched %} is_synched {% endif %}">
                            {{song.title}}
                        </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock content %}
