{% extends "sync_youtube/base.html" %}
{% block content %}
    <h1>MAKE IT PUBLIC</h1>
    <div class="terms-of-service">
        <p>
        Thank you for considering our app that uses the YouTube Data API v3. In order to provide a personalized and enhanced experience for our users, we have developed the following privacy policy in accordance with Google's policies.
        </p>
        <ol>

        <li><strong>Information Collected:</strong>
        Our app collects information from your YouTube account including your email address and profile information such as your name, in addition to accessing your liked videos.
        </li>

        <li><strong>Use of Information:</strong>
        We use the information collected to personalize your experience within the app, and to create a public playlist containing the music videos found in your liked videos. The playlist will be available publicly and visible to other users of the app.
        </li>

        <li><strong>Sharing of Information:</strong>
        We do not share or sell any information collected from your YouTube account with any third-party entities or organizations, except as required by law.
        </li>

        <li><strong>Security of Information:</strong>
        We take the security of your information seriously and have implemented appropriate measures to protect it from unauthorized access, disclosure, or alteration. However, no security measures are completely foolproof, and we cannot guarantee the security of your information.
        </li>

        <li><strong>Access and Control:</strong>
        You have full control over the access to your YouTube account and the information shared with our app. You can revoke the app's access to your YouTube account at any time through your Google Account settings.
        </li>

        <li><strong>Changes to Privacy Policy:</strong>
        We reserve the right to make changes to this privacy policy at any time, and any changes will be updated on our website. We will also notify all users by email when the privacy policy is updated, outlining the changes made.
        </li>
        </ol>

        By using our app, you agree to the terms of this privacy policy. If you have any questions or concerns regarding our app's use of the YouTube Data API v3, please contact us at riandeypierre@gmail.com.
    </div>
{% endblock content %}
